<div class="card border-info mb-3">
<div class="card-body">                        
    <div [ngClass]="{
            'text-white': isEmpty(password),
            'text-danger': !isEmpty(password) && hasError('range', password),
            'text-success': !isEmpty(password) && !hasError('range', password)}"                            
        ><i class="fas" 
        [ngClass]="{
            'fa-info-circle': isEmpty(password),
            'fa-times-circle': !isEmpty(password) && hasError('range', password),
            'fa-check-circle': !isEmpty(password) && !hasError('range', password)}"></i>
            Password must be between 3 - 16 characters long.
    </div>
    <div [ngClass]="{
            'text-white': isEmpty(password),
            'text-danger': !isEmpty(password) && hasError('letterAndNumber', password),
            'text-success': !isEmpty(password) && !hasError('letterAndNumber', password)}"                                     
        ><i class="fas"
        [ngClass]="{
            'fa-info-circle': isEmpty(password),
            'fa-times-circle': !isEmpty(password) && hasError('letterAndNumber', password),
            'fa-check-circle': !isEmpty(password) && !hasError('letterAndNumber', password)}"
        ></i>
        Password must contain at least one letter and one number.
    </div>
    <div [ngClass]="{
        'text-white': isEmpty(password),
        'text-danger': !isEmpty(password) && hasError('noSpecialCharacters', password),
        'text-success': !isEmpty(password) && !hasError('noSpecialCharacters', password)}"                                     
    ><i class="fas"
    [ngClass]="{
        'fa-info-circle': isEmpty(password),
        'fa-times-circle': !isEmpty(password) && hasError('noSpecialCharacters', password),
        'fa-check-circle': !isEmpty(password) && !hasError('noSpecialCharacters', password)}"
    ></i>
        Password must not contain special characters.
    </div>
</div>
</div>