<div class="form col-lg-6 jumbotron">
        <legend>Login</legend>  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit">
        <fieldset>
            <div class="form-group">
                <label for="email">Email address</label>
                <input class="form-control bg-secondary text-white" id="email" placeholder="Enter email" type="email"
                [ngClass]="{'is-invalid': (f.email.touched || f.email.dirty) && f.email.errors}" 
                formControlName="email">
                <div class="invalid-feedback">
                    <div [hidden]="!f.email.errors?.required">Email is required.</div>
                    <div [hidden]="!f.email.errors?.email">Email is invalid.</div>
                </div>
            </div>
            <div class="form-group has-danger">
                <label for="password">Password</label>
                <input class="form-control bg-secondary text-white" id="password" placeholder="Password" type="password"
                [ngClass]="{'is-invalid': (f.password.touched || f.password.dirty) && f.password.errors}" 
                formControlName="password">
                <div class="invalid-feedback">
                    <div [hidden]="!f.password.errors?.required">Password is required.</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" (click)="onSubmit()">Submit</button>
        </fieldset>
    </form>
</div>