.tabs {
    margin: 20px;
    background: gray;
}

.content {
    border: 1px solid white;
}

#test {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #18BC9C;
    border-color: #18BC9C;
  }

.tab-container {
    background: gray;
}

.customTab .nav-tabs .nav-link.active
{
    color:black;
}
.customTab .nav-tabs .nav-link
{
    color:cyan;
}