<div class="form col-lg-6 jumbotron">
        <legend>Leave a comment</legend>  
    <form [formGroup]="commentForm" (ngSubmit)="onSubmit">
        <fieldset>
            <div class="form-group">
                <label for="password">Message: </label>
                <textarea class="form-control bg-secondary text-white" id="content"
                [ngClass]="{'is-invalid': (f.content.touched || f.content.dirty) && f.content.errors}" 
                formControlName="content"></textarea>
                <div class="invalid-feedback">
                    <div [hidden]="!f.content.errors?.required">Field is required.</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="commentForm.invalid" (click)="onSubmit()">Submit</button>
        </fieldset>
    </form>
</div>