<div class="navigation-container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand">MemeSys</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01" *let="isUserLoggedIn() as isUserLoggedIn">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/home">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/memes/">Memes</a>
                </li>
                <li class="nav-item" [hidden]="!isUserLoggedIn">
                    <a class="nav-link" routerLink="/memes/create">Create Meme</a>
                </li>
                <li class="nav-item" [hidden]="isUserLoggedIn">
                    <a class="nav-link" routerLink="/auth/login">Login</a>
                </li>
                <li class="nav-item" [hidden]="isUserLoggedIn">
                    <a class="nav-link" routerLink="/auth/register">Register</a>
                </li>
                <li class="nav-item" [hidden]="!isUserLoggedIn">
                    <a class="nav-link" routerLink="/memes/search">Search Memes</a>
                </li>
            </ul>
            <app-user-dropdown *ngIf="isUserLoggedIn"></app-user-dropdown>
        </div>
    </nav>
</div>