<div class="category-container bg-secondary float-left" *let="currentCategory$ | async as cat">
    <h4>Popular:</h4>
    <ul class="list-group">
        <a (click)="onClick('hot')" routerLink="/memes/">
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" 
                [ngClass]="{'active': cat === 'hot'}">
                Hot
                <img src="assets/img/hot.png" alt="category-logo">
            </li>
        </a>
        <a (click)="onClick('fresh')" routerLink="/memes/">
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" 
                [ngClass]="{'active': cat === 'fresh'}">
                Fresh
                <img src="assets/img/fresh.png" alt="category-logo">
            </li>
        </a>
    </ul>
    <h4>Categories:</h4>
    <ul class="list-group">
        <a *ngFor="let c of categories$ | async" (click)="onClick(c._id)" routerLink="/memes/">
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" 
                [ngClass]="{'active': cat === c._id}">
                {{c.name}}
                <img src="{{c.icon}}" alt="category-logo">
            </li>
        </a>
    </ul>
</div>