.comment {
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    overflow: hidden;
}

h5 {
    text-align: center;
}

.creator {
    display: inline-block;
}

.details-body {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin: 0 auto;
}

.details-body  p {
    line-height: 500%;
}

.details-footer {
    width: 20%;
    float: right;
    position: relative;
    top: 130px;
    left: 80px;
    clear: both;
    text-align: left;
    clear: both;
}

.details-footer p {    
    font-style: italic;
}

.avatar {
    margin: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%
}

.controls {
    display: inline;
}