<article class="comment bg-secondary">
    <div class="creator">
        <h5>{{comment.creator.name}}</h5>
        <img class="avatar" src={{comment.creator.avatar}} alt="Avatar">
    </div>
    <div class="details-body">
        <p class="content">{{comment.content}}</p>
    </div>
    <div class="details-footer">
        <p class="created-on text-muted">{{calcTime(comment.createdOn)}} ago.</p>
    </div>
    <div class="controls">
        <button class="btn btn-danger"
        *ngIf="canDelete()"
        (click)="onDeleteClick()"
        >Delete Comment</button>
    </div>
</article>