<div class="meme-container row col-lg-6 jumbotron">
    <div>
        <header>
            <a routerLink="/memes/meme/{{meme._id}}">
                <h3>{{meme.title}}</h3>
            </a>
        </header>
        <div class="col-md-6">
            <a routerLink="/memes/meme/{{meme._id}}">
                <img src="{{meme.image}}" alt="meme-image">
            </a>
        </div>
        <div class="vote-controls">
            <button type="button" class="btn btn-primary" 
            [disabled]="hasUserUpVoted(meme)" 
            (click)="voteClickHandler(meme._id, 'up')">
                <i class="fas fa-thumbs-up"></i>
            </button>
            <button type="button" class="btn btn-primary" 
            [disabled]="hasUserDownVoted(meme)" 
            (click)="voteClickHandler(meme._id, 'down')">
                <i class="fas fa-thumbs-down"></i>
            </button>
            <button type="button" class="delete-btn btn btn-danger"
            [hidden]="!isUserAdmin()"
            (click)="onDeleteClick(meme._id)">Delete</button>
        </div>
    </div>
</div>